/* Stile per il contenitore del carousel */
.carousel-container {
  width: 100%;
  max-width: 100vw;
  position: relative;
  overflow: hidden;
}

/* Stile per le immagini del carousel, occupano tutta la larghezza e altezza della viewport */
.carousel-image {
  width: 100%;
  height: 100vh; /* Imposta l'altezza all'altezza della viewport */
  object-fit: cover;
  display: block;
}

/* Modifica delle frecce (prev e next), posizionate dentro l'immagine */
.p-carousel-prev,
.p-carousel-next {
  position: absolute;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5); /* Sfondo semi-trasparente */
  color: white;
  z-index: 10;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Posiziona la freccia "prev" a sinistra */
.p-carousel-prev {
  left: 20px;
}

/* Posiziona la freccia "next" a destra */
.p-carousel-next {
  right: 20px;
}

/* Indicatori del carousel */
.p-carousel-indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.p-carousel-indicator .p-link {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: gray;
  margin: 0 5px;
  cursor: pointer;
}

.p-carousel-indicator.selected .p-link {
  background-color: white;
}

/* Colore diverso al passaggio del mouse */
.p-carousel-indicator .p-link:hover {
  background-color: var(--color-primary);
}

.p-highlight .p-link {
  background-color: white;
}