.container-navbar {
  max-width: 75rem;
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 5rem;
  font-size: 16px;
  font-weight: 600;
}
.navbar-links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.navbar-links a {
  font-size: 25px;
  font-weight: 600;
  color: var(--color-text);
  text-decoration: none;
  border-width: 0 0 1px;
}
.navbar-links .linkNav a {
  display: block;
  padding: 15px 20px;
  font-size: 20px;
  transition: color 0.3s, background-color 0.3s, transform 0.3s;
}

.navbar-links .linkNav a:hover {
  color: var(--color-primary); 
  transform: scale(1.1); 
}

.navbar-links .linkNav a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--color-primary);
  transition: width 0.3s;
  margin-top: 5px;
}
.navbar-links .linkNav a:hover::after {
  width: 100%;
}

.logo-img {
  display: flex;
  width: 12rem;
  border-radius: 10%;
  padding: 1rem;
}
