.container-navbar {
  max-width: 100rem;
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 5rem;
  font-size: 16px;
  font-weight: 600;
}
.card {
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.p-menubar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  background: none;
}
.p-menubar-root-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.p-menuitem-text,
.p-menuitem-link {
  color: white;
}

.p-menubar
  .p-menubar-root-list
  > .p-menuitem:not(.p-highlight):not(.p-disabled)
  > .p-menuitem-content:hover {
  color: red;
  background: none;
}
.p-menubar
  .p-menubar-root-list
  > .p-menuitem:not(.p-highlight):not(.p-disabled)
  > .p-menuitem-content:hover {
  color: #495057;
  background: none;
}
.p-menubar
  .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus
  > .p-menuitem-content {
  color: #495057;
  background: none;
}
.p-menubar
  .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus
  > .p-menuitem-content {
  color: red;
  background: none;
}
.p-menubar
  .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus
  > .p-menuitem-content {
  color: #4b5563;
  background: none;
}

.p-menubar .p-submenu-list {
  padding: 0.25rem 0;
  background: black;
  border: 0 none;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  width: 12.5rem;
}


.p-menubar .p-menuitem.p-highlight > .p-menuitem-content {
  color: #0e7490;
  background: none;
}
.p-menubar .p-menuitem.p-highlight > .p-menuitem-content {
  color: #495057;
  background: none;
}
.p-menubar .p-menuitem.p-highlight.p-focus > .p-menuitem-content {
  background: none rgba(6, 182, 212, 0.24);
}
.p-menubar .p-menuitem.p-highlight.p-focus > .p-menuitem-content {
  background: none;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.navbar-links a {
  font-size: 25px;
  font-weight: 600;
  color: var(--color-text);
  text-decoration: none;
  border-width: 0 0 1px;
}
.navbar-links .linkNav a {
  display: block;
  padding: 15px 20px;
  font-size: 20px;
  transition: color 0.3s, background-color 0.3s, transform 0.3s;
}

.navbar-links .linkNav a:hover {
  color: var(--color-primary);
  transform: scale(1.1);
}

.navbar-links .linkNav a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--color-primary);
  transition: width 0.3s;
  margin-top: 5px;
}
.navbar-links .linkNav a:hover::after {
  width: 100%;
}

.logo-img {
  display: flex;
  width: 12rem;
  border-radius: 10%;
  padding: 1rem;
}

.Container-LogIN-Menu {
  padding: 1rem 0rem;
  width: 100%;
  height: 5rem;
  border-radius: 1rem;
}

.LogIN-Menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 1rem 0rem;
  width: 100%;
  height: 5rem;
  background-color: black;
  border-radius: 1rem;
}
.LogIN-Menu li a {
  padding: 5px 0;
  color: var(--color-text);
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.6px;
}
